<div class="container text-center">
  <p id="notice"><%= notice %></p>
  <h1><%= "#{@location.city}, #{@location.state} #{@location.zip}" %></h1>
  <div id="weather">
    <%= render "weather", weather_data: @weather_data, location: @location %>
  </div>
